<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <style>
    {% capture css %}{% include entry.css %}{% endcapture %}
    {{ css | postcss }}
  </style>
  <title>{{ title }}</title>
</head>
<body>

  <h1>{{ title }}</h1>
  <div class="container">{{ content }}</div>

</body>
</html>
